fastapi
uvicorn
pypdf2
transformers
torch
sentence-transformers
faiss-cpu
protobuf
sentencepeice
bitsandbytes
accelerate>=0.26.0
python-multipart
google-cloud-storage
uuid
PyMuPDF
pdfplumber
react-router-dom
react-markdown
react-doc-viewer 
pytesseract 
pdf2image 
python-docx 
openpyxl
google-cloud-vision